@import url(https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap);

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    font-family: "Karla", sans-serif;
    font-size: $font-sm;
    // background-color: #E6EFF6;
    background-color: $lightGray;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: grid;
    background-color: white;
    border-radius: toRem(6px);
    overflow: hidden;

    width: toRem(312px);

    @include breakpoint-up (small) {
        width: 51%;
        text-align: center;
    }

    @include breakpoint-up (medium) {
        width: 60%;
        // max-width: toRem(634px);
        max-width: toRem(734px);
        text-align: left;
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: auto auto;
        // grid-template-areas: 
        //     "header header"
        //     "cta whyus"
        // ;
    }
}

.block {
    padding: toRem(24px);

    @include breakpoint-up (small) {
        padding: toRem(30px);
    }

    @include breakpoint-up (medium) {
        padding: toRem(40px);
    }

}
