.whyus {
    background-color: rgba($color: $cyan, $alpha: 0.85);
    color: white;

    .title {
        font-weight: 700;
    }

    .bullet-point {
        color: rgba($color: white, $alpha: 0.5);
        margin-top: 20px;

        & ~ .bullet-point{
            margin-top: 6px;
            
        }
    }
}
